@import '../abstracts/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @include fluid-type(430px, 1440px, 20px, 28px);
    color: $color-text-dark;

    &__hamburger {
        border: none;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background-color: transparent;
        cursor: pointer;
    }

    .line {
        width: 24px;
        height: 1px;
        border-bottom: 1.5px solid $color-primary
    }
}