@import '../abstracts/variables';

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 14px 24px;
    border-radius: 10000px;
    width: max-content;
    height: max-content;

    will-change: transform;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

    &--dark {
        background-color: $color-button-dark;
        color: $color-button-text-light
    }
    
    &--light {
        background-color: $color-button-light;
        color: $color-button-text-dark;
    
        svg path {
            fill: $color-button-text-dark;
        }
    }

    &[data-animation="button"] {

        transform: scale(0);
        transform-origin: 50% 50%;
        
        > span {
            display: inline-block;
            width: 0px;
            overflow: hidden;
        }

        > span span {
            display: inline-block;
            transform: translateY(16px);
            white-space: nowrap;
        }

        svg {
            width: 0px;
            overflow: hidden;
            transform: translateX(-8px);
            opacity: 0;
        }
    }

}
